In [2]:
import pandas as pd

In [27]:
file = '../Group-Project-1/ProjectCSV.csv'
df = pd.read_csv(file)
df

,Year,LocationAbbr,LocationDesc,DataSource,PriorityArea1,PriorityArea2,PriorityArea3,PriorityArea4,Category,Topic,...,Break_Out_Category,Break_Out,CategoryId,TopicId,IndicatorID,Data_Value_TypeID,BreakOutCategoryId,BreakOutId,LocationID,GeoLocation
0,2006,US,United States,Medicare,None,None,None,None,Cardiovascular Diseases,Heart Failure,...,Race,Other,C1,T5,MD501,Crude,BOC04,RAC07,59,NaN
1,2005,US,United States,Medicare,None,None,None,None,Cardiovascular Diseases,Heart Failure,...,Race,Other,C1,T5,MD501,Crude,BOC04,RAC07,59,NaN
2,2007,US,United States,Medicare,None,None,None,None,Cardiovascular Diseases,Coronary Heart Disease,...,Age,65+,C1,T4,MD301,Crude,BOC03,AGE06,59,NaN
3,2008,US,United States,Medicare,None,None,None,None,Cardiovascular Diseases,Coronary Heart Disease,...,Gender,Female,C1,T4,MD301,Crude,BOC02,GEN02,59,NaN
4,2004,US,United States,Medicare,None,None,None,None,Cardiovascular Diseases,Heart Failure,...,Overall,Overall,C1,T5,MD501,Crude,BOC01,OVR01,59,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42635,2012,CO,Colorado,Medicare,Million Hearts,None,None,None,Cardiovascular Diseases,Stroke,...,Gender,Male,C1,T6,MD601,Crude,BOC02,GEN01,8,"(38.843840757000464, -106.13361092099967)"
42636,2010,MI,Michigan,Medicare,Million Hearts,None,None,None,Cardiovascular Diseases,Stroke,...,Gender,Female,C1,T6,MD601,Crude,BOC02,GEN02,26,"(44.6613195430005, -84.71439026999968)"
42637,2012,ME,Maine,Medicare,Million Hearts,None,None,None,Cardiovascular Diseases,Stroke,...,Race,Hispanic,C1,T6,MD601,Crude,BOC04,RAC04,23,"(45.254228894000505, -68.98503133599962)"
42638,2013,ID,Idaho,Medicare,Million Hearts,None,None,None,Cardiovascular Diseases,Stroke,...,Race,Non-Hispanic White,C1,T6,MD601,Crude,BOC04,RAC01,16,"(43.682630005000476, -114.3637300419997)"
42639,2012,IA,Iowa,Medicare,Million Hearts,None,None,None,Cardiovascular Diseases,Stroke,...,Gender,Male,C1,T6,MD601,Crude,BOC02,GEN01,19,"(42.46940091300047, -93.81649055599968)"

In [28]:
# drop the rows where Data_Value_Unit is 'Rate per 1,000' (we are only doing analysis on percentages)
df = df.drop(df[df['Data_Value_Unit'] == 'Rate per 1,000'].index)

In [29]:
#drop the rows with statistically insignificant (null) values
df = df.drop(df[df['Data_Value_Footnote'] == 'Statistically unstable estimates not presented [numerator <10]'].index)

In [30]:
#drop columns with duplicate, redundant, or irrelevant information
df = df.drop(['DataSource','Category','Indicator','Data_Value_Type','Data_Value_Alt','Data_Value_Footnote_Symbol','Data_Value_Footnote','CategoryId','IndicatorID','Data_Value_TypeID','LocationID','GeoLocation', 'PriorityArea2', 'PriorityArea3', 'PriorityArea4'], axis=1)
df

,Year,LocationAbbr,LocationDesc,PriorityArea1,Topic,Data_Value_Unit,Data_Value,LowConfidenceLimit,HighConfidenceLimit,Break_Out_Category,Break_Out,TopicId,BreakOutCategoryId,BreakOutId
0,2006,US,United States,None,Heart Failure,Percent (%),5.2,5.1,5.3,Race,Other,T5,BOC04,RAC07
1,2005,US,United States,None,Heart Failure,Percent (%),5.1,5.1,5.2,Race,Other,T5,BOC04,RAC07
2,2007,US,United States,None,Coronary Heart Disease,Percent (%),8.5,8.4,8.5,Age,65+,T4,BOC03,AGE06
3,2008,US,United States,None,Coronary Heart Disease,Percent (%),5.1,5.1,5.1,Gender,Female,T4,BOC02,GEN02
4,2004,US,United States,None,Heart Failure,Percent (%),6.1,6.1,6.1,Overall,Overall,T5,BOC01,OVR01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42634,2010,OK,Oklahoma,Million Hearts,Stroke,Percent (%),4.0,3.7,4.4,Race,Other,T6,BOC04,RAC07
42635,2012,CO,Colorado,Million Hearts,Stroke,Percent (%),3.7,3.6,3.9,Gender,Male,T6,BOC02,GEN01
42636,2010,MI,Michigan,Million Hearts,Stroke,Percent (%),3.4,3.3,3.5,Gender,Female,T6,BOC02,GEN02
42638,2013,ID,Idaho,Million Hearts,Stroke,Percent (%),4.5,4.3,4.7,Race,Non-Hispanic White,T6,BOC04,RAC01
42639,2012,IA,Iowa,Million Hearts,Stroke,Percent (%),4.0,3.8,4.2,Gender,Male,T6,BOC02,GEN01

In [25]:
df.to_csv('Project.csv', index=False)

Year                   9262
LocationAbbr           9262
LocationDesc           9262
PriorityArea1          9262
PriorityArea2          9262
PriorityArea3          9262
PriorityArea4          9262
Topic                  9262
Data_Value_Unit        9262
Data_Value             9262
LowConfidenceLimit     9262
HighConfidenceLimit    9262
Break_Out_Category     9262
Break_Out              9262
TopicId                9262
BreakOutCategoryId     9262
BreakOutId             9262
dtype: int64